@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ROBOTO";
  src: url("Roboto-Regular.ttf");
}

#rc::-webkit-scrollbar-thumb {
  @apply bg-orange;
}

#modal {
  width: 40%;
  margin: auto;
  height: 180px;
}

.main-content > nav {
  @apply flex justify-around flex-row;
}

.currency-image {
  width: 30px;
  height: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
